
html, body{
    background: whitesmoke;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-font-smoothing: antialiased;   
    font-family:'Courier New', Courier, monospace;
}
/*position of SEO on top of the login form*/
#topForm{
    background: transparent;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 60px;
} 

#nameCorner{
    background: transparent;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
} 

/*login-page class size and position*/
.login-page{
    width: 400px;
    padding: 10% 0 0;
    margin: auto; 
}

.home-page{
    width: 1000px;
    padding: 0 0 0;
    margin-top: 10px; 
}

.settings-page{
    width: 1000px;
    padding: 10% 0 0;
    margin: auto; 
}

.settings-form{
    position:relative;
    background: transparent;
    max-width: 360px;
    margin: 0 auto 50px;
    padding:20px;
    text-align: center;
    margin-top: 0px;
    padding:10px;
    font-size: 8pt;
    margin-top: 1px;
    margin-right: 5px;
    position:absolute;
    top:10%;
    right:40%;
 }

 .settings-form input{
    font-family: "Roboto", 'Courier New', Courier, monospace;
    outline: 1;
    background: whitesmoke;
    width: 100%;
    border: 2px solid goldenrod;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing:border-box;
    font-size: 14px;
}

.settings-form button{
    font-family: "Roboto", 'Courier New', Courier, monospace;
    text-transform: uppercase;
    outline: 0;
    background:white;
    width: 100%;
    border: 2px solid goldenrod;
    padding: 15px;
    color: goldenrod;
    font-size: 14px;
    cursor: pointer;
}

.settings-form button:hover,.form button:active{
    background: black;
    color: white;
}

/*location of the form*/
.form{
    position:relative;
    z-index: 1;
    background: transparent;
    max-width: 360px;
    margin: 0 auto 50px;
    padding:20px;
    text-align: center;
 }
/*style for the form input*/
.form input{
    font-family: "Roboto", 'Courier New', Courier, monospace;
    outline: 1;
    background: whitesmoke;
    width: 100%;
    border: 2px solid goldenrod;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing:border-box;
    font-size: 14px;
}
/*style for the button*/
.form button{
    font-family: "Roboto", 'Courier New', Courier, monospace;
    text-transform: uppercase;
    outline: 0;
    background:white;
    width: 100%;
    border: 2px solid goldenrod;
    padding: 15px;
    color: goldenrod;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: black;
    color: white;
}
/* style for the href underneath the login and sign up button*/
.form .message{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    color: black;
}
.form .message a {
    color:black;
    text-decoration: underline;
}
.form .register-form{
    display: none;
}

.corner{
    /* position: relative;
    z-index: 1; */
    background: transparent;
    max-width: 360px;
    margin-top: 0px;
    padding:10px;
    text-align: right;
    width: 100px;
    font-size: 8pt;
    margin-top: 1px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;

 }

.corner divider{
    width:2px;
    height:auto;
    display:inline-block;
}

.corner button{
    font-family: "Roboto", 'Courier New', Courier, monospace;
    text-transform: uppercase;
    outline: 0;
    background:white;
    width: 100%;
    border: 2px solid goldenrod;
    padding: 15px;
    color: goldenrod;
    font-size: 14px;
    cursor: pointer;
}

.corner button:hover,.form button:active{
    background: black;
    color: white;
}

.inventory {
    position:absolute;
    z-index: 1;
    border: 2px solid goldenrod;       
    background: transparent;
    width: 80%px;
    margin: 0 auto 50px;
    padding:20px;
    text-align: center;
}